header {
  background-color: $light-teal;
  height: calc(6 * $standard-padding);
  display: flex;
  justify-content: space-between;
  padding: $standard-padding;

  Link {
    width: 40px;
  }

  .logos * {
    margin: 0 calc(0.5 * $standard-padding);
  }

  img {
    height: calc(4 * $standard-padding);
    border-radius: 10px;
  }
}

.hamburger {
  background: none;
  border: none;
  span{
    background-color: $dark-grey;
    display: block;
    height: $standard-padding;
    margin-bottom: calc(0.5*$standard-padding);
    width: calc(5* $standard-padding);
  }
}

.modal-header {
  flex-grow: 1;
  background-color: $light-grey;
  button {
    position: absolute;
    top: calc(2*$standard-padding);
    right: calc(2*$standard-padding)
  }
  nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    a{
      margin: calc(3*$standard-padding)
    }
  }
}