#root {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: calc(100vh - 6 * $standard-padding);
  width: 100vw;
  // background-color: $light-grey;
  padding: (6 * $standard-padding) 0;
  background: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.8)),url('../assets/windfarm.jpg');
  background-size: cover;

  img {
    width: 40%;
    border-radius: 20px;
  }

  h4 {
    width: 60%;
    align-self: center;
    margin-top: $standard-padding;
  }
}

h1{
  padding: $standard-padding;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: $light-teal
}

.results {
  display: flex;
}

input{
  background-color: $light-grey;
}